<html>
<head>
  <link href="/style.css" rel="stylesheet" />
</head>
<body>
  <main>
  <p>
Todo: document the restful API.
</p>
   <p>
      Built with <heart>❤️</heart>&nbsp; by <a href="http://github.com/kenmazaika">Ken Mazaika</a> in San Francisco.  Icons by <a href="flaticon.com">flaticon</a>.
    </p>
  </footer>
</body>
</html>
